/**
 * Created by Dean on 2018/7/31.
 */
.ui-content {
  width: percentage(1/5);
}
.user-head {
  width: percentage(3/4);
}
.friends-head {
  width: percentage(1);
}
.index-msg-text {
  color: #f00;
}